@import "tailwindcss";

/* On définit vos couleurs directement ici pour la v4 */
@theme {
  --color-bleu-nuit: #0F172A;
  --color-bleu-secondaire: #2563EB;
  --color-cyan-accent: #38BDF8;
  --color-succes: #22C55E;
  --color-alerte: #EF4444;
  --color-fond-clair: #F8FAFC;
  --color-texte-sombre: #1E293B;
}

/* Un petit réglage pour être sûr que le fond s'applique */
body {
  background-color: var(--color-fond-clair);
  color: var(--color-texte-sombre);
  margin: 0;
  font-family: sans-serif;
}